.grid-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.big-grid-container {
  margin: 50px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.none-found {
  width: auto;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.none-found.icon {
  vertical-align: middle;
}
