<mat-card class="mat-elevation-z4" class="dashboard-card" (click)="openPart()">
    <mat-card-header>
      <mat-card-title>
        <div>
          {{partCard?.make}}
          <button mat-icon-button (click)="openPart()">
            <mat-icon>build</mat-icon>
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <img width="300" mat-card-image src='{{partCard?.image}}' alt="Photo of Part">
    <mat-card-content class="dashboard-card-content">
      <h3>
        Price: $ {{partCard?.price}}
      </h3>
      <div *ngIf="!signed_in">
        <h3>View Only - Sign in to purchase</h3>
      </div>
      <div *ngIf="signed_in">
        <button mat-raised-button color="primary" (click)="onPurchase()">Purchase</button>
      </div>
    </mat-card-content>
  </mat-card>