<div style="margin: 10px;">
    <div *ngIf="innerWidth<=800">
        <mat-grid-list cols="1" rowHeight="100">
            <mat-grid-tile *ngFor="let appointment of appointments">
                <app-appointment-view [appointmentCard]="appointment" [mobile]="true"></app-appointment-view>
              </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="innerWidth>800">
        <mat-grid-list cols="1" rowHeight="80">
            <mat-grid-tile *ngFor="let appointment of appointments">
                <app-appointment-view [appointmentCard]="appointment" [mobile]="false"></app-appointment-view>
              </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
