<div *ngIf="appointments.length == 0" style="margin: 10px;">
    <h2>You have no appointments in your inbox</h2>
</div>
<div style="margin: 10px;">
    <div *ngIf="!details">
        <div *ngIf="innerWidth<=800">
            <mat-grid-list cols="1" rowHeight="140">
                <mat-grid-tile *ngFor="let appointment of appointments">
                    
                    <app-appointment-view [appointmentCard]="appointment" [innerWidth]="innerWidth"></app-appointment-view>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div *ngIf="innerWidth>800&&innerWidth<=919">
            <mat-grid-list cols="1" rowHeight="120">
                <mat-grid-tile *ngFor="let appointment of appointments">
                    
                    <app-appointment-view [appointmentCard]="appointment" [innerWidth]="innerWidth"></app-appointment-view>
                    
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div *ngIf="innerWidth>920">
            <mat-grid-list cols="1" rowHeight="100">
                <mat-grid-tile *ngFor="let appointment of appointments">
                    
                    <app-appointment-view [appointmentCard]="appointment" [innerWidth]="innerWidth"></app-appointment-view>
                    
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div *ngIf="details">
        <mat-card (click)="details = !details">
            <mat-card-header>
                {{appointment_clicked.cust_email}}
            </mat-card-header>
            <hr/>
            <mat-card-content>
                <div>
                    <p>{{appointment_clicked.description}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
