<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item (click)="openSearch()">Search</a>
      <a *ngIf="signed_in" mat-list-item routerLink="/appointment">Book Appointment</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="spacer">
        <a mat-button routerLink="/">
          <img [width]="110" [src]="'../../assets/logos/white_logo_transparent_background.png'" alt="logo"/>
        </a>
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        <mat-icon aria-label="My Account">account_box</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="!signed_in" >
          <app-sign-in></app-sign-in>
        </div>
        <button *ngIf="signed_in"  mat-menu-item routerLink="/profile"><span>View Profile</span></button>
        <button *ngIf="signed_in"  mat-menu-item routerLink="/post-vehicle"><span>Post</span></button>
        <button *ngIf="signed_in"  mat-menu-item routerLink="/" (click)="onSignOut()"><span>Sign out</span></button>
        <button *ngIf="!signed_in" mat-menu-item routerLink="/create-account"><span>Create Account</span></button>
      </mat-menu>
    </mat-toolbar>

    <!-- Pages go inside here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
