
<mat-card class="mat-elevation-z4" class="dashboard-card">
    <div *ngIf="mobile">
        <mat-grid-list cols="1" rowHeight="20px">
            <mat-grid-tile (click)="viewDetails()">{{appointmentCard?.cust_email}}</mat-grid-tile>
            <mat-grid-tile (click)="viewDetails()">{{appointmentCard?.date}}</mat-grid-tile>
            <mat-grid-tile (click)="viewDetails()">{{timeDisplay(appointmentCard.time)}}</mat-grid-tile>
            <mat-grid-tile><button mat-raised-button color="primary" (click)="markAppointment()">Mark as read</button></mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="!mobile">
        <mat-grid-list cols="4" rowHeight="30px">
            <mat-grid-tile (click)="viewDetails()">{{appointmentCard?.cust_email}}</mat-grid-tile>
            <mat-grid-tile (click)="viewDetails()">{{appointmentCard?.date}}</mat-grid-tile>
            <mat-grid-tile (click)="viewDetails()">{{timeDisplay(appointmentCard.time)}}</mat-grid-tile>
            <mat-grid-tile><button mat-raised-button color="primary" (click)="markAppointment()">Mark as read</button></mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>
