<div class="main-page">
    <div>
        <h1 style="font-size: 40px"><u>{{currentEmployee.f_name}} {{currentEmployee.l_name}}</u></h1>
        <h2 style="font-size: 30px">{{currentEmployee.depNum == 1 ? 'Maintenance':'Sales'}} {{currentEmployee.isManager?'Manager':'Employee'}}</h2>
    </div>
    
    <!--is visible on for employees in sales department-->
    <div *ngIf="this.currentEmployee.depNum == 0">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

            <mat-tab label="Profile">
                <app-employee-profile [employee]="currentEmployee"></app-employee-profile>
            </mat-tab>

            <mat-tab label="Vehicles">
                
                <app-content [employee]="true"></app-content>

            </mat-tab>
            <mat-tab *ngIf="this.currentEmployee.isManager" label="Appointments">

                <app-appointments [depNum]="this.currentEmployee.depNum"></app-appointments>

            </mat-tab>
            <mat-tab *ngIf="this.currentEmployee.isManager" label="Staff">

                <app-staff [depNum]="this.currentEmployee.depNum"></app-staff>
                
            </mat-tab>
            <mat-tab label="Invoices">

                <app-invoices></app-invoices>
                
            </mat-tab>
          </mat-tab-group>
    </div>

    <!--is visible on for employees in maintenance department-->
    <div *ngIf="this.currentEmployee.depNum == 1">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Profile"> 
                <app-employee-profile [employee]="currentEmployee"></app-employee-profile>
            </mat-tab>
            <mat-tab label="Parts">

                <!--Parts page-->
                <app-parts></app-parts>

            </mat-tab>
            <mat-tab *ngIf="this.currentEmployee.isManager" label="Appointments">
                 
                <!--Appointments Page-->
                <app-appointments [depNum]="this.currentEmployee.depNum"></app-appointments>
                 
                 
            </mat-tab>
            <mat-tab *ngIf="this.currentEmployee.isManager" label="Staff">

                <!--Staff Page-->
                <app-staff [depNum]="this.currentEmployee.depNum"></app-staff>

            </mat-tab>
          </mat-tab-group>
    </div>
</div>
