<div style="margin: 10px;">
    <div *ngIf="!details">
        <div *ngIf="innerWidth<=800">
            <mat-grid-list cols="1" rowHeight="120">
                <mat-grid-tile *ngFor="let invoice of invoices">
                    
                    <app-invoice-view [invoiceCard]="invoice" [innerWidth]="innerWidth"></app-invoice-view>
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        
        <div *ngIf="innerWidth>800&&innerWidth<=919">
            <mat-grid-list cols="1" rowHeight="100">
                <mat-grid-tile *ngFor="let invoice of invoices">
                    
                    <app-invoice-view [invoiceCard]="invoice" [innerWidth]="innerWidth"></app-invoice-view>
                    
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div *ngIf="innerWidth>920">
            <mat-grid-list cols="1" rowHeight="80">
                <mat-grid-tile *ngFor="let invoice of invoices">
                    
                    <app-invoice-view [invoiceCard]="invoice" [innerWidth]="innerWidth"></app-invoice-view>
                    
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div *ngIf="details">
        <mat-card (click)="details = !details">
            <mat-card-header>
                {{invoice_clicked.custEmail}}
            </mat-card-header>
            <hr/>
            <mat-card-content>
                <div>
                    <p>{{invoice_clicked.notes}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
