<mat-card class="recipe-card" class="mat-elevation-z4" class="dashboard-card" (click)="openVehicle()">
  <mat-card-header>
    <mat-card-title>
      <div>
        {{vehicleCard?.make}}
        <button mat-icon-button (click)="openVehicle()">
          <mat-icon>time_to_leave</mat-icon>
        </button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <img width="300" mat-card-image src='{{vehicleCard?.image}}' alt="Photo of dish">
  <mat-card-content class="dashboard-card-content">
    <p>
      Posted by : {{vehicleCard?.user}}
    </p>
  </mat-card-content>
</mat-card>
