<h2 mat-dialog-actions mat-dialog-title>{{data.make}}</h2>
<button mat-raised-button color="primary"  mat-dialog-close>Close</button>
<hr/>
<mat-dialog-content>
  <div fxLayout="column">

    <img mat-card-image src='{{data?.image}}' alt="Photo of dish">
    <b>Specs:</b>

    <p>Number of seats: {{data.numSeats}}</p>
    <p>Make: {{data.make}}</p>
    <p>Year: {{data.numSeats}}</p>
    <p>Plate #: {{data.numSeats}}</p>

    <p>
      authored by : {{data?.user}}
    </p>
  </div>
</mat-dialog-content>
