<div>
  <div *ngIf="!confirmationMessage && !purchaseMessage">
    <label style="font-size: 18px">{{data.make}}</label>
    <button style="margin-left: 20px;" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    <h3>Price: $ {{data.price}}</h3>
    <hr>
    <button *ngIf="signed_in" style="margin-left: 10px" mat-raised-button color="primary" (click)="bookDrive = !bookDrive">{{bookDrive?'Cancel':'Book test drive'}}</button>
    <button *ngIf="signed_in && !bookDrive" style="margin-left: 10px" mat-raised-button color="primary" (click)="purchaseMessage = true">Purchase</button>
    
    <label *ngIf="!signed_in" style="margin-left: 10px; font-size: 11px;">Sign in for more options</label>
    <hr/>
    <div *ngIf="!bookDrive && !purchaseMessage">
      <mat-dialog-content>
        <div fxLayout="column">
    
          <img mat-card-image src='{{data?.image}}' alt="Photo of dish">
          <b>Specs:</b>
    
          <p>Number of seats: {{data.numSeats}}</p>
          <p>Year: {{data.year}}</p>
          <p *ngIf="!noColour">Color: {{data.colour}}</p>
          <p *ngIf="!noWeight">Weight: {{data.weight}}</p>
          <p *ngIf="!noSpeed">Top Speed: {{data.topSpeed}} km/h</p>
          <p>Plate #: {{data.plateNum}}</p>
        </div>
      </mat-dialog-content>
    </div>
    <div *ngIf="bookDrive && !purchaseMessage">
      <div>
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selectedDate"></mat-calendar>
        </mat-card>
        <div style="margin-top: 30px">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Time</mat-label>
            <mat-select [(value)]="time">
              <mat-option value="9">9:00 AM</mat-option>
              <mat-option value="10">10:00 AM</mat-option>
              <mat-option value="11">11:00 AM</mat-option>
              <mat-option value="12">12:00 AM</mat-option>
              <mat-option value="13">1:00 PM</mat-option>
              <mat-option value="14">2:00 PM</mat-option>
              <mat-option value="15">3:00 PM</mat-option>
              <mat-option value="16">4:00 PM</mat-option>
              <mat-option value="17">5:00 PM</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <h3 *ngIf="!allFilled()">Must fill in all fields and select a date at least a week after today</h3>
        <button *ngIf="allFilled()" mat-raised-button color="primary" type="submit" (click)="confirmationMessage = true">Submit</button>
        
      </div>
    </div>
  </div>
  <div *ngIf="confirmationMessage">
    <h2>One appointment at a time</h2>
    <h4>If you already have a schedualed appointment, this test drive will replace it</h4>
    <button *ngIf="allFilled()" mat-raised-button mat-dialog-close color="primary" type="submit" (click)="onSubmit()">Ok</button>
    <button *ngIf="allFilled()" style="margin-left: 10px" mat-raised-button color="accent" type="submit" (click)="confirmationMessage = false; bookDrive=false;">Cancel</button>
  </div>
  <div *ngIf="purchaseMessage && !bookDrive">
    <h2>Order vehicle</h2>
    <h4>An AutoHub sales representative will contact you shorlty with next steps</h4>
    <h4>Make sure to bring you provide your banking info apon pick up</h4>
    <div>
      <button mat-icon-button mat-dialog-close (click)="onPurchase()">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button (click)="purchaseMessage = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>