.demo-inline-calendar-card {
  width: 300px;
  margin-right: 20px;
}

.appointmentForm {
  margin: 15px;


}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}
