<div style="margin:30px">
    <mat-card>
        
        <div *ngIf="!editMode">
            <h2>Suppliers</h2>
            <hr>
            
            <div>
                <div *ngIf="innerWidth<=800">
                    <mat-grid-list cols="1" rowHeight="170">
                        <mat-grid-tile *ngFor="let supplier of suppliers">
                            
                            <app-supplier [supplierCard]="supplier" [mobile]="true"></app-supplier>
                            
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="!addSupplier">
                            <mat-card class="mat-elevation-z4" class="dashboard-card" (click)="addSupplier = true;">
                                <div>
                                    <mat-icon class="add">
                                        add
                                    </mat-icon>
                                </div>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div *ngIf="innerWidth>800">
                    <mat-grid-list cols="1" rowHeight="80">
                        <mat-grid-tile *ngFor="let supplier of suppliers">
                            
                            <app-supplier [supplierCard]="supplier" [mobile]="false"></app-supplier>
                            
                            
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="!addSupplier">
                            <mat-card class="mat-elevation-z4" class="dashboard-card" (click)="addSupplier = true;">
                                <div>
                                    <mat-icon class="add">
                                        add
                                    </mat-icon>
                                </div>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div *ngIf="addSupplier" style="margin-left: 30px">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="supplier.name">
                    <mat-hint *ngIf="invalidName" style="color:red">Please enter a valid name</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="supplier.phoneNum">
                    <mat-hint *ngIf="invalidPhone" style="color:red">INVALID: format(#########)</mat-hint>
                </mat-form-field>
                <button style="margin-left:65px" mat-icon-button (click)="submitNew()">
                    <mat-icon aria-label="Add">add</mat-icon>
                </button>
                <button style="margin-left:10px" mat-icon-button (click)="addSupplier = false;">
                    <mat-icon aria-label="Close">remove</mat-icon>
                </button> 
            </div>
        </div>
        <div *ngIf="editMode">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="supplier.name">
                    <mat-hint *ngIf="invalidName" style="color:red">Please enter a valid name</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="supplier.phoneNum">
                    <mat-hint *ngIf="invalidPhone" style="color:red">INVALID: format(#########)</mat-hint>
                </mat-form-field>
                <button style="margin-left:65px" mat-icon-button (click)="updateSupplier()">
                    <mat-icon aria-label="Update">done</mat-icon>
                </button>
                <button style="margin-left:10px" mat-icon-button (click)="editMode = false;">
                    <mat-icon aria-label="Cancel">close</mat-icon>
                </button> 
            </div>
        </div>
    </mat-card>
    
</div>