/* You can add global styles to this file, and also import other style files */
.hiddenFileInput {
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;

  /*for the background, optional*/
  background: center center no-repeat;
  background-size: 100% 100%;
  background-image: url("assets/images.png");
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
